$bg-color-main: #2e2a23;
$bg-color-dark: rgba(0,0,0,.2);
$bg-color-light: #DDD;
$light-color: #FFF;
$dark-text-color: #333;
$light-text-color: #999;
$dark-grey-color: #888;
$menu-color: #1b1813;
$input-color: rgba(62,203,255,.3);


$main-color: rgba(255, 255, 255, 0.6);
$main-font: "Exo 2", sans-serif;

$check-color:#4cbb4a;
$table-color: #dd992d;
$plate-color: #FFF;
$apple-color: #e41919;
$bento-color: brown;
$pickle-color: #179837;
$pickle-border-color:#025a18;
$orange-color: orange;
$orange-border-color:#bd6e07;
$chocolate-color: brown;
$chocolate-border-color:rgb(66, 15, 15);