@media (max-width: 580px) {

  chocolate {
    background: $chocolate-color;
    height: 2em;
    width: 0.6em;
    border: solid 0.125em $chocolate-border-color;
    border-width: 0.1em 0.1em 0.6em;
    margin: 1.25em 0.625em;
    box-shadow: 0px 0.2em 0px $bg-color-dark;

    &.small {
      height: 1.5em;
      width: 0.4em;
    }
  }

}