@media (max-width: 950px) {
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header"
      "main main"
      "footer footer";
  }
}

@media (max-width: 580px) {
    .main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "game"
      "editor"
      "viewer";
      margin-top: 1em;
  }
}